In [13]:
import pandas as pd, numpy as np

In [14]:
arrays = [['bar', 'bar', 'baz', 'baz', 'foo', 'foo', 'qux', 'qux'],
          ['one', 'two', 'one', 'two', 'one', 'two', 'one', 'two']]
tuples = list(zip(*arrays))
index = pd.MultiIndex.from_tuples(tuples, names=['first', 'second'])
df = pd.DataFrame(np.random.randn(6, 6), index=index[:6], columns=index[:6])

In [15]:
print(df)

first              bar                 baz                 foo
second             one       two       one       two       one       two
first second
bar   one    -0.318200  0.178610  0.028051  1.686810 -0.894416  0.288034
      two     2.550545 -0.149372 -0.219050 -0.655504  2.841000 -0.284396
baz   one     0.011945  1.588152 -0.024538 -0.488825  0.014111  1.452298
      two    -0.756507  0.798701 -0.057006  1.253656 -0.674178 -0.207080
foo   one    -0.768974 -1.127536  0.358538 -1.231684 -0.149561 -1.597307
      two     0.088282  1.052544  0.518868 -1.152717  0.211445 -0.269728

In [16]:
print(df.loc[:,(slice("bar"), slice('one'))])

df.loc[:,slice(df.columns.levels[0][0])]

first              bar
second             one
first second
bar   one    -0.318200
      two     2.550545
baz   one     0.011945
      two    -0.756507
foo   one    -0.768974
      two     0.088282

first              bar
second             one       two
first second
bar   one    -0.318200  0.178610
      two     2.550545 -0.149372
baz   one     0.011945  1.588152
      two    -0.756507  0.798701
foo   one    -0.768974 -1.127536
      two     0.088282  1.052544